# macOS specific files
.DS_Store

# VS Code specific files
.vscode/

# Dependency directories (for future use)
node_modules/

# Build output directories (for future use)
dist/
build/

# Environment variables file (important for security)
.env
# Local Netlify folder
.netlify
